.button {
  border: 0;
  background: #102ad2;
  color: #fff;
  padding: 8px 30px;
  border-radius: 4px;
  @include transition( background );
  font-weight: 400;

line-height: 162%;
text-align: center;
color: #fff;
  &:hover {
    background: #312eb5;
  }
}
