.inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}
.title {
    font-size: 26px;
    max-width: 300px;
    text-align: center;
}
.btnWrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}